@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,500,600,700&display=swap);

@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__arrow {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  z-index: 10;
  color: #666;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.popup__arrow_left {
  left: 0;
}

.popup__arrow_right {
  right: 0;
}

.popup__close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 15;
  background-color: transparent;
  outline: none;
}

.popup__close::before,
.popup__close::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.popup__close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.line {
  background-color: #228b22;
  border-width: 0.1875rem;
  width: 3.125rem;
  height: 0.1875rem;
  margin: 0 auto;
}

.line:not(:last-child) {
  margin-bottom: 1.875rem;
}

.btn {
  --btn-padding-x: 1rem;
  --btn-padding-y: 0.625rem;
  --btn-font-family: inherit;
  --btn-font-size: 1.125rem;
  --btn-font-weight: 700;
  --btn-line-height: 1.3333333333;
  --btn-color: #212529;
  --btn-bg: transparent;
  --btn-border-width: 0.0625rem;
  --btn-border-color: transparent;
  --btn-border-radius: 1.875rem;
  --btn-hover-border-color: transparent;
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn:active {
  color: var(--btn-active-color);
  background-color: var(--btn-active-bg);
  border-color: var(--btn-active-border-color);
}

.btn:focus-visible {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  outline: 0;
  -webkit-box-shadow: var(--btn-focus-box-shadow);
          box-shadow: var(--btn-focus-box-shadow);
}

.btn:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}

.btn.disabled,
.btn:disabled {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--btn-disabled-bg);
  border-color: var(--btn-disabled-border-color);
  opacity: var(--btn-disabled-opacity);
}

.btn-body {
  --btn-color: #fff;
  --btn-bg: #228b22;
  --btn-border-color: #228b22;
  --btn-hover-color: #fff;
  --btn-hover-bg: #186218;
  --btn-hover-border-color: #186218;
  --btn-focus-shadow-rgb: 49,132,253;
  --btn-active-color: #fff;
  --btn-active-bg: #2a792a;
  --btn-active-border-color: #205820;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #fff;
  --btn-disabled-bg: #228b22;
  --btn-disabled-border-color: #228b22;
}

.btn-light {
  --btn-color: #333;
  --btn-bg: #fff;
  --btn-border-color: #fff;
  --btn-hover-color: #333;
  --btn-hover-bg: #e6e6e6;
  --btn-hover-border-color: #e6e6e6;
  --btn-focus-shadow-rgb: 49,132,253;
  --btn-active-color: #333;
  --btn-active-bg: #8f8f8f;
  --btn-active-border-color: #8f8f8f;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #333;
  --btn-disabled-bg: #c2c2c2;
  --btn-disabled-border-color: #c2c2c2;
}

.header {
  background-color: #333;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  padding: 0.625rem 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  text-align: center;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.5384615385;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._navigator-active {
  color: #228b22;
}

.menu__logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 1.2727272727;
  z-index: 5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.no-webp .main-section{
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent)), url("../img/main/header.jpg"); }

.no-webp .main-section{
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), transparent), url("../img/main/header.jpg"); }

.no-webp .main-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url("../img/main/header.jpg"); }

.main-section {
  background-size: cover;
  background-position: center;
}

.main-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  text-align: center;
  padding: 6.25rem 0.9375rem 6.25rem;
}

.main-section__subtitle {
  font-weight: 500;
  line-height: 1.1111111111;
  color: #fff;
}

.main-section__subtitle:not(:last-child) {
  margin-bottom: 0.625rem;
}

.main-section__title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  color: #fff;
}

.main-section__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-section__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6875;
  max-width: 80%;
}

.main-section__text:not(:last-child) {
  margin-bottom: 3.125rem;
}

.main-section__btn {
  padding: 0.625rem 1rem;
}

.about {
  background-color: #228b22;
  padding: 6.25rem 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}

.about__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about .line {
  background-color: #fff;
}

.about .line:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about__text {
  font-size: 1rem;
  line-height: 1.5;
}

.about__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about__btn {
  padding: 0.9375rem 1.875rem;
}

.services {
  padding: 6.25rem 0;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.services__title {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}

.services__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.service {
  max-width: 25rem;
  padding-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.service:nth-child(2) .service__icon._active {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.service:nth-child(3) .service__icon._active {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.service:nth-child(4) .service__icon._active {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.service__icon {
  color: #228b22;
  margin-bottom: 1.25rem;
  opacity: 0;
}

@-webkit-keyframes anim-icon {
  from {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  25% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  75% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anim-icon {
  from {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  25% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  75% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.service__icon._active {
  -webkit-animation: anim-icon 1s;
          animation: anim-icon 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.service__title {
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.125;
}

.service__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.service__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #777;
  font-size: 1rem;
  line-height: 1.5;
}

.portfolio__container {
  padding: 0;
}

.portfolio__list {
  display: -ms-grid;
  display: grid;
}

.item-portfolio__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  max-width: 40.625rem;
  margin: 0 auto;
  cursor: pointer;
}

.item-portfolio__box:hover .item-portfolio__content {
  opacity: 1;
}

.item-portfolio__img-ibg {
  padding-bottom: 53.8461538462%;
}

.item-portfolio__content {
  color: white;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(34, 139, 34, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.item-portfolio__category {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.item-portfolio__name {
  font-size: 1.375rem;
}

.order {
  padding: 3.125rem 0;
  background-color: #222;
}

.form {
  max-width: 18.75rem;
  margin: 0 auto;
}

.form-item {
  --form-body-color: #333;
  --form-control-bg: #fff;
  --form-border-width: 0.0625rem;
  --form-border-color: #666;
  --form-secondary-color: #999;
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.9375rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--form-body-color);
  background-color: var(--form-control-bg);
  background-clip: padding-box;
  border: var(--form-border-width) solid var(--form-border-color);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: var(--form-body-color);
  background-color: var(--form-control-bg);
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__image {
  width: auto;
  max-width: 100%;
}

.slider__image img {
  width: auto;
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 40.625em) {
  .main-section__title {
    font-size: 3.125rem;
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 0.3125rem;
  }

  .main-section__content {
    height: 100vh;
    padding: 0 3.125rem;
  }

  .main-section__text {
    font-size: 1.125rem;
  }

  .service {
    max-width: 100%;
  }

  .portfolio__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .item-portfolio__box {
    max-width: 100%;
  }
}

@media (min-width: 61.99875em) {
  .services__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
  }

  .service {
    padding: 0px 0.9375rem;
  }
}

@media (min-width: 74.99875em) {
  .services__list {
    padding-top: 1.25rem;
    row-gap: 0;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .portfolio__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}

@media (max-width: 20em) {
  .main-section__title {
    font-size: 1.5625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
            transform: translateX(-120%);
    width: 100%;
    display: none;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    background-color: #333;
    border-top: 0.0625rem solid #e7e7e7;
  }

  .menu__body.menu-open {
    display: block;
  }

  .menu__body.menu-animate {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .menu__item {
    text-align: left;
    padding: 0.625rem 0;
  }

  .menu__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    color: #222;
    line-height: 1.4285714286;
  }

  .menu__logo {
    color: #228b22;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: hover) {
  .menu__link:hover {
    color: #228b22;
  }

  .menu__logo:hover {
    color: #186218;
  }
}

@media (min-width: 48em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
         -moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
              column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
         -moz-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
              column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
    }
}
}

@media (min-width: 20em) and (max-width: 40.625em) {
@supports (font-size: clamp( 1.5625rem , 0.0473484848rem  +  7.5757575758vw , 3.125rem )) {
    .main-section__title {
      font-size: clamp( 1.5625rem , 0.0473484848rem  +  7.5757575758vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.0473484848rem  +  7.5757575758vw , 3.125rem )) {
    .main-section__title {
      font-size: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 20.625);
    }
}
}

@media (any-hover: hover) {
  .popup__arrow:hover {
    color: #fff;
  }

  .menu__link:hover {
    color: #fff;
  }

  .menu__logo:hover {
    color: #fff;
  }
}

.webp .main-section{ background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent)), url(../img/main/header.webp); }

.webp .main-section{ background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), transparent), url(../img/main/header.webp); }

.webp .main-section{ background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url(../img/main/header.webp); }